* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    /* background-color: bisque; */
}

.container__textarea {
    display: flex;
    justify-content: center;
    width: 80%;
}

.container__textarea__img {
    /* background-color: #D6EFD8; */
    width: 10%;
}

.container__textarea__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 500px;
    background-color: #E5E5E5;
    width: 80%;
}

.container__textarea__main__buttons {
    align-self: center;
}

.container__textarea__main__icon {
    display: flex;
    column-gap: 10px;
    margin-bottom: 16px;
}

.buttons {
    width: 680px;
    height: 67px;
    justify-content: center;
    display: flex;
    column-gap: 20px;
}

.link-1 {
    background-color: #0A3871;
    color: white;
}

.link-2 {
    background-color: #D8DFE8;
    color: #0A3871;
}

.buttons__link {
    text-decoration: none;
    border: 1px solid black;
    width: 50%;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__response {
    border-radius: 32px;
    background-color: #FFFFFF;
    height: 650px;
    margin-right: 30px;
}